.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);


  display: grid;
  align-items: center;
  justify-items: center;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #D2E0FB;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  }
}
.header {
  color: #E1D7B7;
  font-family: 'Montserrat';
  margin-top: 100px;
}





.productLayout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-inline: auto;
  width: fit-content;
  padding-right: 40px;
}


.productLayout li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 350px;
}
.images {
  height: 250px;
  width: 250px;
  object-fit: contain; 
  margin-top: -100px;
  padding-top: 10px;
}
.products {
  width: 400px;
  height: 550px;
  background-color: #55679C;
  border-radius: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.itemPrice {
  font-size: 20px;
  color: #E1D7B7;
  font-weight: bold;
  margin-bottom: 10px; 
}
.itemDesc {
  grid-row: 2;
  font-size: 18px;
  color: #E1D7B7;
  margin: 20px;
  font-family: 'Merriweather';

}
.itemLink{
  text-decoration: none;
}
.itemTitle{
  color: #E1D7B7;
  text-align: center;
  font-weight: 600;
  font-family: 'Montserrat';
}
.cartHeader{
  color: #E1D7B7;
  text-align: center;
  font-family: 'Montserrat';
}
.cartBackground{
  margin: auto;
  margin-top: 100px;
  background-color :#55679C;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 500px;
  position: relative;  
  border-radius: 15px;

}
.checkoutButton{
  font-size: 1.25rem;
  background-color: #1E2A5E;
  width: 80%;
  height: 50px;
  border: none;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.addToCartButton {
  color: #E1D7B7;
  background-color: #1E2A5E;
  width: 80%;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  height: 40px;
  font-family: 'Merriweather';
}
.priceButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  position: absolute;
  bottom: 25px;
}
.navBar{
  background-color: #55679C;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
.cartNav{
  background-color: #1E2A5E;
  color: #E1D7B7;
  width: 15%;
  height: 65%;
  margin-right: 100px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Montserrat';
}
.productNavBar{
  color: #E1D7B7;
  margin-left: 100px;
  background: none;
  border: none;
  font-family: 'Montserrat';
}
.cartItemList{
  list-style-type: none;
  color: #E1D7B7;
  font-size: 25px;
  position: relative;
  margin: auto;
}
.itemPriceCart{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  color: #E1D7B7;
  font-weight: bold;
  margin-right: 15px;
}
.itemPrice {
  font-size: 20px;
  color: #E1D7B7;
  font-weight: bold;
  margin-bottom: 10px;
}
.line{
  border-bottom: 1px solid #1E2A5E;
  margin-left: 10px;
  margin-right: 10px;
}
.checkoutPrice{
  font-size: 20px;
  color: #E1D7B7;
  font-weight: bold;
}
.removeItem{
  border: none;
  background: none;
  font-family: 'Merriweather';
  font-size: 25px;
}
.orderPageThanks{
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  color: #E1D7B7;
}
.itemDescOrder{
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
}
.headerOrder{
  font-size: 45px;
  font-family: 'Montserrat';
  font-weight: 700;
}












/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }



  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
